version: "3.3"
services:
  nginx:
    depends_on:
      - client
      - backend
    restart: always # because it is routing traffic to our entire app
    build:
      dockerfile: Dockerfile
      context: ./nginx
    ports:
      - "80:80"
      - "443:443"
  client:
    ports: "3000:3000" # added for testing
    build:
      context: ./frontend
      dockerfile: Dockerfile
    #ports:
    #  - '3000:3000'
    volumes:
      - /app/node_modules # Inside the container, don't try to override this folder, just leave as is
    restart: on-failure
    container_name: client
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    #ports:
    #  - '3001:3001'
    restart: on-failure
    container_name: backend
    volumes:
      - /app/node_modules # Inside the container, don't try to override this folder, just leave as is
    env_file: .env
    environment:
      - MONGO_USERNAME=$DATABASE_USERNAME
      - MONGO_PASSWORD=$DATABASE_PASSWORD
      - MONGO_HOST=db
      - MONGO_PORT=$DATABASE_PORT
      - MONGO_DB=$DATABASE
  mongo:
    image: "mongo"
    env_file: .env
    environment:
      - MONGO_USERNAME=$DATABASE_USERNAME
      - MONGO_PASSWORD=$DATABASE_PASSWORD
      - MONGO_HOST=db
      - MONGO_PORT=$DATABASE_PORT
      - MONGO_DB=$DATABASE

    container_name: "mongo-db"
    ports:
      - "27017-27019:27017-27019"

    volumes:
      # - ./db/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
      # - ./db/mongo-volume:/data/db
      - ~/database:/data/db
