@import '../App.scss';

.tab-menu-list > button {
  border-width: 3px;
  
  &[aria-selected="true"] {
        border-bottom-color: $lightGrey;
    }
}

.statistics-container {
  max-width: 25rem;
    padding: 1rem;
    padding-top: 0.5rem;
    border: solid 1px $blue;
    border-radius: 1rem;
    margin: 0.5rem 0;
}